.assets-graphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.assets-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .assets-details-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            margin-left: 10px;
        }
    }

    .details-list {
        width: 100%;

        .asset-detail {
            cursor: pointer;
            text-align: center;
            margin: 10px;

            &:hover {
                background-color: #bfefff;
            }
        }
    }
}
