body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.layout {
    min-height: 100vh;
}

.ant-layout-header {
    background-color: #001529;
    height: 64px;
    display: flex;
    align-items: center;
}

.ant-layout-footer {
    background-color: #001529;
    color: #fff;
    text-align: center;
}

.loading-spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.app-content {
    padding: 20px;
}

.error-message {
    margin-bottom: 1rem;
}

.create-data-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
